.reasons-list ul {
  text-align: left;
  max-width: 450px;
  margin: 15px auto;
}

.reasons-list__title {
  font-weight: bold;
  color: #f45d48;
}

.landing-section-content {
  width: 650px;
  max-width: 90%;
  margin: 0 auto;
}

.signup-login-links {
  margin: 0 5px;
}

.turtle-logo img {
  max-width: 150px;
  height: auto;
}

.screenshots {
  border: 2px solid lightgray;
  border-radius: 4px;
  padding: 10px 0;
}

.screenshots img {
  max-width: 450px;
  width: 80%;
  height:auto;
}

@media screen and (min-width:480px) {
  .turtle-logo img {
    max-width: 200px;
    height: auto;
  }
}