* {
  box-sizing: border-box;
}

.app {
  font-family: 'Montserrat',
  sans-serif;
  font-size: 20px;
  color: #222525;
  text-align: center;
  line-height: 1.5;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 24px;
}

h1, h2, h3 {
  color: #232323;
}

a, a:focus {
  color: #f45d48;
}

.page-container {
  min-height: calc(100VH - 40px);
  padding: 30px 0;
  background-color: #f8f5f2;
}

.section-title {
  padding-top: 30px;
}

.form {
  max-width: 400px;
  width: 90%;
  height:auto;
  background-color:#fffffe;
  padding: 20px 30px;
  padding-top: 40px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 5px 15px -10px rgba(31, 18, 53, 0.6);
}

.form label {
  text-align: left;
  letter-spacing: 1px;
  display: block;
  text-transform: uppercase;
  color: #718096;
  font-size: 14px;
}

.form input {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  background: #EDF2F7;
  border: 1px solid #CBD5E0;
  color: #4A5568;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 32px;
  padding-left: 16px;
  line-height: 1.25;
  border-radius: 4px;
  margin-top: 2px;
}

.form select {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  background: #EDF2F7;
  border: 1px solid #EDF2F7;
  color: #4A5568;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 32px;
  padding-left: 16px;
  line-height: 1.25;
  border-radius: 4px;
}

.form select:focus {
  outline: 0;
  background-color: white;
  border-color: #a0aec0;
}

.form-group {
  padding-bottom: 15px;
}

.dropdown {
  position: relative;
}

.dropdown-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  color: #4A5568;
  padding: 15px;
  font-size: 14px;
  pointer-events: none;
}

button, .button {
  background: #078080;
  color: #fffffe;
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 4px;
  font-weight: 700;
  border: 1px solid #078080;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 5px 15px -10px rgba(31, 18, 53, 0.6);
  text-decoration: none;
}

button:focus, button:active, .button:focus, .button:active {
  outline: none;
  color: #fffffe;
}

button.button-white {
  background: white;
  color: #078080;
  border: 2px solid #078080;
}

button.button-white:hover {
  background: #078080;
  color: #fffffe;
  border: 2px solid #078080;
}

button.button-red {
  color: white;
  background: #f45d48;
  border: 2px solid #f45d48;
}

button.button-red:hover {
  background: #f45d48;
  color: #fffffe;
  border: 2px solid #f45d48;
}

button:focus {
  outline: none;
}

button.button-clear {
  color: white;
  background: transparent;
  border: 0px;
  box-shadow: none;
  font-size: 16px;
  font-weight: 400;
  padding: 0px 10px;
}

button.button-clear:hover {
  background: transparent;
  color: #fffffe;
  border: 0px;
}

button:focus {
  outline: none;
}

@media screen and (min-width:480px) {
  h1 {
      font-size: 2em;
  }

  h2 {
    font-size: 28px;
  }
}


@media screen and (min-width:480px) {
  .nav-links__link a, button.button-clear {
    font-size: 18px;
  }
}

@media screen and (min-width:800px) {
  .nav-links__link a, button.button-clear {
    font-size: 20px;
  }
}