* {
  box-sizing: border-box;
}

/* form {
  text-align: left;
} */
/*
input {
  width: 100%;
  max-width: 500px;
} */

/* input[type="number"] {
  width: 50px;
} */

/* label {
  display: block;
} */

.form-section {
  margin-bottom: 30px;
}

.form-section input {
  width: 110px;
}