* {
  box-sizing: border-box;
}

nav {
  padding: 1% 0;
  background-color: #aaa;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
}

.nav-links {
  display: flex;
}

.nav-links__link {
  padding-right: 20px;
}

.nav-actions {
  margin-left: auto;
}